/*
   Основные цвета

      1. Серый
      2. Зеленный
      3. Желтый
      4. Красный
      5. UI цвета

   Цвета для модулей

      1. Аукционы

   1. Base
*/


// Серый
$grey: #f7f7f7;
$grey-dark: #8e8f90;

// Зеленный
$green-light: #9cbf3e;
$green: #349344;
$green-dark: #165721;

// Оранжевы
$orange: #ff8400;
$orange-dark: #97530b;

// Красный
$red: #ff0000;

// Цвета для header

$header-green: #349344;
$header-green-dark: #008e3c;

// UI

$border-color: #d3d3d3;

// Модуль аукционы
$auction-green-light: #f0f5e2;

// 1. Base
$height-header: 64px;