.header-cover {
    font-size: 0;
    position: absolute;
    width: 100%;
    min-height: $height-header;
    .header-cover-left,
    .header-cover-right {
        display: inline-block;
        width: 50%;
        min-height: $height-header;
    }
    .header-cover-left {
        background: $header-green-dark;
    }
    .header-cover-right {
        background: $orange;
    }
}

.header {
    min-height: $height-header;
    line-height: $height-header;
    color: #fff;
    font-weight: 500;
    text-align: center;
    .header-mobile {
        background: $header-green-dark;
        text-align: center;
        font-size: 20px;
    }
    .header-chat {
        background: $header-green;
        .btn-green-light {
            margin: 0 0 0 10px;
        }
        .sprite-chat-icon {
            margin: 0 10px 0 0;
        }
    }
    .header-profile {
        background: $orange;
        a {
            margin: 0 0 0 20px;
            font-size: 13px;
            color: #fff;
            text-decoration: underline;
        }
        img {
            border-radius: 50%;
            margin: 0 10px;
        }
    }
}

.hero {
    min-height: 140px;
    line-height: 140px;
    background: $grey;
}

.menu-container {
    min-height: 65px;
    line-height: 65px;
    background: #fff;
}

.breadcrumb-container {
    background: $grey;
    .breadcrumb {
        margin: 0;
    }
}

.content {
    background: $grey;
    .sprite-window-icon {
        margin: 0 0 0 10px;
    }
    .sprite-ellipse-icon {
        margin: 0 10px 0 0;
        position: relative;
        top: -1px;
    }
}

.car_photos {
    margin: 0 0 20px 0;
}

.block-left {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    img {
        min-width: 100px;
    }
}

.block-right {
    width: 33.5%;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 768px) {
    .block-left {
        width: 100%;
    }

    .block-right {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .block-left {
        width: 100%;
    }

    .block-right {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .header.container {
        width: auto;
    }

    .block-left {
        width: 100%;
    }

    .block-right {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .block-left {
        width: 66%;
    }

    .block-right {
        width: 33.5%;
    }
}