.menu {
    list-style-type: none;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        margin: 0 20px 0 0;
        .btn-primary {
            color: #fff;
            text-decoration: none;
        }
    }
    a {
        font-size: 16px;
        font-weight: 500;
        color: $grey-dark;
        text-decoration: underline;
    }
}

.dealer-bid {
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    background: #ededed;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    color: #333;
    .bid-win,
    .bid-lose {
        color: #fff;
        padding: 5px 18px;
        border-radius: 5px;
    }
    .bid-win {
        color: #fff;
        background: $green-light;
    }
    .bid-lose {
        color: #fff;
        background: $red;
    }
}

.btn-default {
    box-shadow: 0px 2px 0px $green-dark;
    color: #fff;
    padding: 4px 12px;
}

.btn-green-light {
    background: $green-light;
}

.btn-orange {
    background: $orange;
    box-shadow: 0px 2px 0px $orange-dark;
    &:hover {
        background: darken($orange, 10%);
    }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #000000;
    background-color: #f7f7f7;
    border-bottom: 1px solid transparent;
    box-shadow: 0px -3px 0px 0px $green-dark;
    cursor: default;
}

.nav-tabs > li > a {
    margin-right: 4px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
    border-color: #d5d5d5;
    background: #ededed;
    font-weight: 700;
    color: #8e8f90;
    box-shadow: 0px -3px 0px 0px #8e8f90;
    padding: 10px 8px;
}

.nav-tabs > li > div > a {
    color: #858687;
    text-decoration: underline;
}

.nav-tabs > li > div {
    padding: 10px 8px;
    font-size: 12px;
}

.nav-tabs > li > div.btn-without-pd {
    padding: 0;
}

.nav-tabs > li > div.btn-without-pd > a{
    color: #fff;
    text-decoration: none;
}

.panel > .table:first-child > thead:first-child > tr:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
    background: #f7f7f7;
}

.table td {
    color: #818181;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background: transparent;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background: #f7f7f7;
}

.slaiders-container {
    width: 877px;
    margin: 0 auto;
    position: relative;
    
}

.slick-slide {
    width: 111px;
    margin: 0 8px;
    a {
        text-decoration: none;
        color: #231f20;
    }
    p {
        font-size: 12px;
        padding: 10px;
    }
}

.carprice-js-component-auction {
    background: #ededed;
    padding: 30px;
    width: 300px;
    margin: 40px 0 0 17px;
}

.cjca-wrapper {
    width: 240px;
    margin: 0 auto;
    position: relative;
    font-weight: 500;
    .cjca-status-init,
    .cjca-status-finished {
        text-align: center;
    }

    table {
        width: 100%;
    }
    .btn {
        padding: 10px 12px;
        font-size: 15px;
    }
    .btn-orange {
        margin: 10px 0 0 0;
    }
    .btn,
    input {
        width: 100%;
        font-weight: 700;
    }
    table td:first-child {
        width: 10%;
    }
    table td {
        &:nth-child(2) {
            width: 40%;
        }
        &:nth-child(3) {
            width: 50%;
            font-weight: 700;
        }
    }
    .cjca-time {
        border-radius: 5px;
        border: 1px solid #d3d3d3;
        margin: 0 0 10px;
        padding: 5px;
        text-align: center;
    }
}

.cjca-bids {
    overflow-y: scroll;
    height: 170px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #d3d3d3;
    table {
        tr {
            border-top: 1px solid #d3d3d3;
            td {
                height: 36px;
            }
            &:first-child {
                border-top: none;
            }
        }

    }
    .cjca-bids-time {
        color: #9d9d9d;
        font-size: 10px;
    }
}

.cjca-bids::-webkit-scrollbar {
    width: 6px;
}

.cjca-bids::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(200,200,200,0.3);
    border-radius: 10px;
}

.cjca-bids::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(200,200,200,1);
    background: rgba(200,200,200,1);
}

.cjcs-current-bid {
    background: #f0f5e2;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    height: 50px;
    table tr:first-child td {
        width: 100%;
        padding: 0 0 0 24px;
        color: #8e8f90;
        font-size: 12px;
    }
}

.cjca-your-bid {
    td:nth-child(1) {
        text-align: center;
        &:before {
            content: '';
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ff8400;
        }
    }
    td:nth-child(3) {
        color: #ff8400;
    }
}

.cjcs-selector-bids {
    width: 100%;
    position: relative;
    height: 39px;
    line-height: 39px;
    margin: 0 0 3px 0;
    .cjcs-selector-list-bids {
        list-style-type: none;
        padding: 0;
        border: 1px solid #d3d3d3;
        position: relative;
        a {
            color: #737475;
        }
        li {
            display: inline-block;
            border-left: 1px solid #d3d3d3;
            text-align: center;
            width: 59px;
            font-size: 12px;
            text-decoration: underline;
            color: #737475;
            &:first-child {
                border: 0px;
            }
            &:nth-child(4) {
                width: 50px;
                a {
                    color: #2b7b39;
                    text-decoration: dashed;
                }
            }
        }
        li.active a:before {
            content: attr(data-bid);
            display: block;
            background: #2b7b39;
            position: absolute;
            top: -8px;
            width: 62px;
            line-height: 50px;
            height: 48px;
            color: #fff;
            border-radius: 5px 5px 0 0;
        }
    }
    .cjcs-selector-bids-minus {
        border-radius: 50% 0 0 50%;
        border: 1px solid #d3d3d3;
        border-right: 0px;
        width: 24px;
        height: 41px;
        padding: 0 0 0 4px;
        color: #349344;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: -24px;
    }
    .cjcs-selector-bids-plus {
        border-radius: 0 50% 50% 0;
        border: 1px solid #d3d3d3;
        border-left: 0px;
        width: 24px;
        height: 41px;
        padding: 0 4px 0;
        color: #349344;
        cursor: pointer;
        top: 0;
        right: -24px;
        position: absolute;
    }
}

.cjcs-auto-bids {
    margin: 20px 0 0 0;
    color: #868788;
    .cjcs-about-auto-bids {
        font-weight: 400;
        font-size: 12px;
        margin: 5px 0 25px;
    }
    label {
        font-size: 14px;
    }
}

.btn-auction {
    background: transparent;
    box-shadow: none;
    border: 1px solid #d0d0d0;
    color: #868788;
    margin: 10px 0 0 0;
    div {
        font-weight: 500;
    }
    &:hover {
        background: #D7D7D7;
        color: #868788;
    }
}

.cjcs-auto-bids-input {
    margin: 0 0 10px 0;
}

.is-show-hide-block {
    display: none;
}

@media (max-width: 768px) {
    .slaiders-container {
        width: 255px;
    }
    .slick-slide {
        width: 122px;
        margin: 0 6px;
    }
    .slick-slide img {
        width: 122px;
    }
    .slick-next {
        right: -32px;
        top: 51px;
    }
    .slick-prev {
        left: -32px;
        top: 51px;
    }
    .carprice-js-component-auction {
        margin: 0;
        width: 100%;
    }

}

@media (min-width: 768px) {
    .slaiders-container {
        width: 660px;
    }
    .slick-slide {
        width: 122px;
        margin: 0 6px;
    }
    .slick-slide img {
        width: 122px;
    }
    .slick-next {
        right: -31px;
        top: 51px;
    }
    .slick-prev {
        left: -31px;
        top: 51px;
    }
    .carprice-js-component-auction {
        margin: 0;
        width: 100%;
    }

}


@media (min-width: 992px) {
    .slaiders-container {
        width: 877px;
    }
    .slick-slide {
        width: 111px;
        margin: 0 8px;
    }
    .slick-slide img {
        width: 111px;
    }
    .slick-next {
        right: -30px;
    }
    .slick-prev {
        left: -30px;
    }
    .carprice-js-component-auction {
        width: 300px;
        margin: 40px 0 0 17px;
    }
}