.dealer-bid-fixed {
    position: fixed;
    top: 105px;
    right: 60px;
    z-index: 1;
}
.dealer-bid-mobile {
    display: block;
    background: transparent;
    color: #fff;
    p {
        display: inline-block;
        margin: 0;
    }
}