@import "compass/utilities/sprites";
@import "sprite/*.png";
@include all-sprite-sprites;

$chat-icon-height: sprite-sprite-height(chat-icon);
$chat-icon-width: sprite-sprite-width(chat-icon);

$auction-icon-height: sprite-sprite-height(auction-icon);
$auction-icon-width: sprite-sprite-width(auction-icon);

$window-icon-height: sprite-sprite-height(window-icon);
$window-icon-width: sprite-sprite-width(window-icon);

.sprite-chat-icon {
  height: $chat-icon-height;
  width: $chat-icon-width;
  display: inline-block;
  vertical-align: middle;
}

.sprite-window-icon {
  height: $window-icon-height;
  width: $window-icon-width;
  display: inline-block;
  vertical-align: middle;
}

.sprite-auction-icon {
  height: $auction-icon-height;
  width: $auction-icon-width;
  display: inline-block;
  vertical-align: middle;
}

$ellipse-icon-height: sprite-sprite-height(ellipse-icon);
$ellipse-icon-width: sprite-sprite-width(ellipse-icon);

.sprite-ellipse-icon {
    height: $ellipse-icon-height;
    width: $ellipse-icon-width;
    display: inline-block;
    vertical-align: middle;
}